parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon