<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script {{ pimcore_csp.getNonceHtmlAttribute()|raw }}>
        parent.pimcore.iconlibrary.replaceCurrentTabWithIconLibrary();
    </script>
</head>
<body>
</body>
</html>